:root {
  --backgoundTopColor: #af67e9;
  --backgoundBottomColor: #6565e7;
  --primaryTextColor: #1d1e35;
  --iconColor: #f47c57;
  --secondaryTextColor: #4a4b5e;
  --paragraphsColor: #787887;
  --dividersColor: #e7e7e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    var(--backgoundTopColor),
    var(--backgoundBottomColor)
  );
}

main {
  align-self: center;
  width: 100%;
  max-width: 920px;
  border-radius: 20px;
  background-color: white;
}

.faqMainContainer {
  width: 100%;
  /* max-width: ; */
  padding: 20px;
}

h1 {
  text-transform: uppercase;
  color: var(--primaryTextColor);
}

.faqContainer {
  padding: 16px 0px;
  border-bottom: 1px solid var(--dividersColor);
}

/* .faqSummaryContainer {
  display: flex;
  justify-content: space-between;
} */

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

summary::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

summary:hover {
  color: var(--iconColor);
}

summary:focus {
}

.faqTextCollapse {
  display: none;
  font-size: 12px;
}

/* summary {
  color: var(--primaryTextColor);
  font-weight: 700;
} */

.attribution {
  margin: 10px 0px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--dividersColor);
}
